@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat:wght@400;700&display=swap");
body {
  margin: 0 auto;
  max-width: 2000px;
}

.background {
  display: none;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.menu_pop-up {
  display: none;
  max-width: 812px;
  height: 623px;
  background: white;
  border-radius: 10px;
  position: fixed;
  left: 0;
  right: 0;
  margin: 5% auto;
  z-index: 101;
}
.menu_pop-up img {
  margin: 20px 20px 0 770px;
}
.menu_pop-up p {
  font-family: "Myriad Pro", sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #3677FD;
  text-align: center;
  margin: 20px auto 30px;
}
.menu_pop-up .form {
  margin: 0 auto;
  width: 517px;
}
.menu_pop-up input {
  width: 100%;
  margin-top: 15px;
  height: 45px;
  border: 1px solid;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  border-color: #b7c0c9;
  font-size: 16px;
  color: #b7c0c9;
  font-weight: 300;
  outline: none;
  padding-left: 20px;
}
.menu_pop-up input::placeholder, .menu_pop-up textarea::placeholder {
  color: #b7c0c9;
}
.menu_pop-up .textarea {
  height: 180px;
  width: 100%;
  margin-top: 15px;
  border: 1px solid;
  border-radius: 20px;
  font-family: "Lato", sans-serif;
  border-color: #b7c0c9;
  font-size: 16px;
  color: #b7c0c9;
  font-weight: 300;
  outline: none;
  resize: none;
  padding-left: 20px;
}
.menu_pop-up .menu_pop-up-btn {
  margin: 45px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #3677FD;
  width: 204px;
  height: 55px;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  border-radius: 23px;
  cursor: pointer;
}
.menu_pop-up .menu_pop-up-btn:hover {
  box-shadow: 0px -1px 18px 5px rgba(54, 119, 253, 0.34);
}

input:checked ~ .menu-hamb {
  display: block;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 101;
  top: 0;
  overflow: hidden;
}

.menu-hamb {
  width: 330px;
  border-radius: 9px 9px 0 0;
  background: none;
  position: fixed;
  top: 150px;
  z-index: 101;
}
@media screen and (max-width: 500px) {
  .menu-hamb {
    top: 75px;
  }
}
input:checked ~ .menu-hamb {
  background: white;
}

.menu-hamb__main {
  display: none;
}
input:checked ~ .menu-hamb__main {
  display: flex;
  flex-direction: column;
  width: 330px;
  height: 530px;
  background: #9e9e9e;
  overflow: hidden;
  border-radius: 0 0 9px 9px;
  position: fixed;
  top: 230px;
}
@media screen and (max-width: 500px) {
  input:checked ~ .menu-hamb__main {
    top: 110px;
  }
}
.menu-hamb__main .menu-hamb__main__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.menu-hamb__main .menu-hamb__main__list a {
  text-decoration: none;
  color: #E1E1E1;
  font-size: 50px;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
.menu-hamb__main .menu-hamb__main__list a:hover {
  color: #3677FD;
}
.menu-hamb__main .menu-hamb__main__list--item {
  margin-top: 20px;
}
.menu-hamb__main .menu-hamb__main__line {
  margin: 40px auto 40px;
  border: 1px solid #E1E1E1;
  width: 34.1005967604%;
  background: #E1E1E1;
}
.menu-hamb__main .menu-hamb__main__social {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 14px;
  width: 260px;
  margin: 0 auto;
}
.menu-hamb__main .menu-hamb__main__social--a--svg {
  fill: #E1E1E1;
  width: 51px;
  height: 51px;
}
.menu-hamb__main .menu-hamb__main__social--a--svg:hover {
  fill: blue;
}
.menu-hamb__main .menu-hamb__main__lang {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  color: #E1E1E1;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin-top: 18px;
  margin-bottom: 15px;
}
.menu-hamb__main .menu-hamb__main__lang:hover {
  color: #3677FD;
}
.menu-hamb__main .menu-hamb__main__lang--svg {
  width: 67px;
  height: 33px;
  margin-right: 10px;
}

#hamburger {
  display: none;
}
#hamburger + label {
  display: flex;
  width: 42px;
  height: 80px;
  padding-left: 20px;
}
#hamburger + label span {
  width: 30px;
  height: 3px;
  background: #3c3c3c;
  display: block;
  position: relative;
  margin: auto;
  transition: 0.4s;
}
#hamburger + label span:before, #hamburger + label span:after {
  transition: 0.4s;
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  background: #3c3c3c;
}
#hamburger + label span:before {
  top: -10px;
}
#hamburger + label span:after {
  bottom: -10px;
}
#hamburger:checked + label span {
  background: transparent;
  transform: rotate(180deg);
}
#hamburger:checked + label span:before, #hamburger:checked + label span:after {
  top: 50%;
  bottom: initial;
  width: 110%;
  background: #3677FD;
}
#hamburger:checked + label span:before {
  transform: rotate(45deg);
}
#hamburger:checked + label span:after {
  transform: rotate(-45deg);
}

header, .about, .expert, .works, .clients, footer {
  font-family: "Lato", sans-serif;
}

header {
  background: url("../img/bg-header.jpg");
  height: 872px;
}
@media screen and (max-width: 800px) {
  header {
    font-size: 16px;
    height: 100vh;
  }
}
header .circle {
  margin: 95px auto 0;
}
@media screen and (max-width: 550px) {
  header .circle {
    margin: 30px auto 0;
  }
}
header .header-cookies {
  background-color: #194277;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
}
header .header-cookies p {
  font-weight: 400;
  font-size: 14px;
  color: white;
}
@media screen and (max-width: 550px) {
  header .header-cookies p {
    font-size: 10px;
  }
}
header .header-cookies div {
  background-color: white;
  width: 112px;
  height: 30px;
  border-radius: 12px;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.025em;
  color: #194277;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
}
@media screen and (max-width: 550px) {
  header .header-cookies div {
    margin-left: 3vw;
    width: 60px;
    height: 25px;
    font-size: 10px;
  }
}
header .header-cookies div:hover {
  cursor: pointer;
  box-shadow: 0px -1px 18px 5px rgba(255, 255, 255, 0.34);
}
header h2 {
  font-weight: 900;
  font-size: 50px;
  margin: 50px 0 20px;
}
@media screen and (max-width: 850px) {
  header h2 {
    font-size: 36px;
    margin: 20px 0;
  }
}
@media screen and (max-width: 550px) {
  header h2 {
    font-size: 22px;
  }
}
header h2 + p {
  font-weight: 300;
  font-size: 16px;
  opacity: 0.5;
  line-height: 35px;
}
@media screen and (max-width: 800px) {
  header h2 + p {
    font-size: 12px;
  }
}
@media screen and (max-width: 550px) {
  header h2 + p {
    font-size: 10px;
  }
}
header .button-hire {
  background-color: white;
  width: 204px;
  height: 55px;
  border-radius: 26px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.025em;
  color: #419BFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 75px auto;
}
@media screen and (max-width: 550px) {
  header .button-hire {
    margin: 20px auto;
  }
}
header h2, header h2 + p {
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.025em;
  text-align: center;
}
header img {
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  header img {
    margin: 25px auto;
  }
}

.about {
  height: 405px;
}
.about article, .about p {
  text-align: center;
}
.about article {
  font-weight: 300;
  font-size: 50px;
  color: #3677FD;
  margin: 100px auto 70px;
}
@media screen and (max-width: 800px) {
  .about article {
    margin: 50px auto;
  }
}
.about p {
  font-weight: 400;
  font-size: 16px;
  color: #5A5A5A;
  line-height: 35px;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .about p {
    font-size: 12px;
  }
}

.expert {
  height: 1144px;
  background-color: #F1F8FF;
}
@media screen and (max-width: 780px) {
  .expert {
    height: 1900px;
  }
}
.expert article {
  font-weight: 300;
  font-size: 50px;
  color: #3677FD;
  margin: 0 auto 120px;
  padding-top: 95px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .expert article {
    margin: 0 auto 30px;
    padding-top: 50px;
  }
}
.expert .expert-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 80px 30px;
  max-width: 1140px;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .expert .expert-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px 15px;
  }
}
@media screen and (max-width: 780px) {
  .expert .expert-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}
.expert .expert-grid h3 {
  font-weight: 700;
  font-size: 24px;
  color: #3677FD;
  margin: 60px auto 35px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .expert .expert-grid h3 {
    margin: 25px auto;
  }
}
@media screen and (max-width: 780px) {
  .expert .expert-grid h3 {
    margin: 15px auto;
    font-size: 20px;
  }
}
.expert .expert-grid p {
  font-weight: 400;
  font-size: 16px;
  color: #5A5A5A;
  line-height: 36px;
  margin: 0 auto;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .expert .expert-grid p {
    line-height: 25px;
  }
}
@media screen and (max-width: 780px) {
  .expert .expert-grid p {
    line-height: 22px;
    font-size: 12px;
  }
}
.expert .expert-grid .expert-icon {
  text-align: center;
  border-radius: 50%;
  border: 1px solid #D0D8E1;
  height: 140px;
  width: 140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.works {
  height: 1020px;
}
@media screen and (max-width: 780px) {
  .works {
    height: 1900px;
  }
}
.works article {
  font-weight: 300;
  font-size: 50px;
  color: #3677FD;
  margin: 0 auto 100px;
  padding-top: 85px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .works article {
    margin: 0 auto 30px;
    padding-top: 50px;
  }
}
.works .works-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 auto;
  width: 1138px;
  gap: 55px 30px;
}
@media screen and (max-width: 1200px) {
  .works .works-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 755px;
  }
}
@media screen and (max-width: 780px) {
  .works .works-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    width: 360px;
    gap: 20px 0;
  }
}

.clients {
  height: 363px;
  background-color: #F1F8FF;
}
@media screen and (max-width: 1200px) {
  .clients {
    height: 600px;
  }
}
.clients article {
  font-weight: 300;
  font-size: 50px;
  color: #3677FD;
  margin: 0 auto 80px;
  padding-top: 90px;
  text-align: center;
}
@media screen and (max-width: 1200px) {
  .clients article {
    padding-top: 50px;
    margin: 0 auto 40px;
  }
}
.clients div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
@media screen and (max-width: 1200px) {
  .clients div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
.clients div img {
  margin: 0 90px;
}
@media screen and (max-width: 1300px) {
  .clients div img {
    margin: 0 50px;
  }
}
@media screen and (max-width: 1200px) {
  .clients div img {
    margin: 30px auto;
  }
}

footer {
  height: 247px;
  background: url("../img/bg_footer.png");
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 900px) {
  footer {
    flex-direction: column;
  }
}
footer p {
  font-weight: 300;
  color: #5A5A5A;
  margin: 0 60px 0 0;
}
@media screen and (max-width: 1200px) {
  footer p {
    margin: 0 3vw 0 0;
  }
}
footer span {
  font-weight: 700;
  color: #ffffff;
}
footer p, footer span {
  font-size: 50px;
  line-height: 60px;
  color: white;
}
@media screen and (max-width: 1200px) {
  footer p, footer span {
    font-size: 36px;
  }
}
@media screen and (max-width: 700px) {
  footer p, footer span {
    font-size: 24px;
  }
}
@media screen and (max-width: 500px) {
  footer p, footer span {
    font-size: 17px;
  }
}
footer .button-hire {
  background-color: white;
  width: 204px;
  height: 55px;
  border-radius: 26px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.025em;
  color: #419BFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  margin: 0;
}
@media screen and (max-width: 900px) {
  footer .button-hire {
    margin: 30px auto;
  }
}

.button-hire:hover {
  cursor: pointer;
  box-shadow: 0px -1px 18px 5px rgba(255, 255, 255, 0.34);
}

.expert-icon:hover {
  cursor: pointer;
  box-shadow: 0px -1px 18px 5px rgba(54, 119, 253, 0.34);
}

.works-grid img:hover {
  cursor: pointer;
  box-shadow: 0px -1px 18px 5px rgba(54, 119, 253, 0.34);
}

.clients img:hover {
  animation: bounce 0.5s;
}

@keyframes bounce {
  0%, 20%, 60%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  80% {
    transform: translateY(-10px);
  }
}

/*# sourceMappingURL=main.css.map */
